{% extends 'base.html' %}


{% block body %}

<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">Simply Amazing Homemade food</div>
					<div class="section_title"><h4>Favorite Dishes</h4></div>
				</div>
			</div>


    <!-- Three columns of text below the carousel -->
  <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/taco.jpeg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Roasted Cauliflower Tacos </h4>
        <p><a class="btn btn-secondary" href="/tacor" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

  <div class="col">
        <img src="/static/images/sandw.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Veggie &  Olive Hummus Sandwich </h4>
        <p><a class="btn btn-secondary" href="/sandw" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
    </div>


  <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/apricot.jpeg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Apricot Almond Cocunut Cake</h4>
        <p><a class="btn btn-secondary" href="/apricotr" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col">
        <img src="/static/images/brown.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Zucchini And Beetroot Brownies </h4>
        <p><a class="btn btn-secondary" href="/brownr" role="button">View »</a></p>
      </div>
    </div>

  <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/pad.jpeg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Pad Thai and Tomato Basil Soup</h4>
        <p><a class="btn btn-secondary" href="/padr" role="button">View »</a></p>
      </div>

    <div class="col">
        <img src="/static/images/pizza.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Broccoli Cauliflower Crust  Pizza</h4>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=iG8yx8kqEN0" role="button">View »</a></p>
      </div>
    </div>
</div>


  <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/fal.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Ultimate Power Plate </h4>
        <p><a class="btn btn-secondary" href="/falr" role="button">View »</a></p>
      </div>

     <div class="col">
        <img src="/static/images/velvet.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Velvety Cupcakes with Frosting </h4>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me</a></p>
      </div>
    </div>
</div>


 <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/calzone.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Whole Wheat Pesto Calzone </h4>
        <p><a class="btn btn-secondary" href="/calzone" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col">
        <img src="/static/images/kulfi.jpeg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Kesar Pista & Gulkand Kulfi </h4>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact Me</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
</div>


<div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/caps.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> The Stuffed Pepper | Fried Rice  </h4>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me</a></p>
      </div>
    <div class="col">
        <img src="/static/images/pestop.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Pesto Chickpea Fusilli</h4>
        <p><a class="btn btn-secondary" href="/pestop" role="button">View »</a></p>
      </div>

    </div>
  </div>

<div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/cutlets.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Paneer Cutlet / Cottage Cheese Fritters </h4>
        <p><a class="btn btn-secondary" href="/cutlets" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col">
        <img src="/static/images/wheatb.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Whole Wheat and Chickpea Flour Bread  </h4>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me</a></p>
      </div>
    </div>
  </div>

<div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/chikki.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Homemade Peanut Chikki</h4>
        <p>Peanut Chikki is the Indian version of Peanut Brittle. It’s made with peanuts, jaggery and nothing else really. It’s a staple in Indian homes during winters and one of my personal favorite. </p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=SUxhKoV55Dc" role="button">View »</a></p>
      </div>

      <div class="col">
        <img src="/static/images/broc.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Green Peas and Broccoli Soup </h4>
        <p>This simple broccoli & green pea soup includes two of my favorite vegetables. Broccoli and green peas</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=AfoYO8l5e9Y" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
</div>

<div class="Container marketing">
    <div class="row my-2">
     <div class="col">
        <img src="/static/images/chipot.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Chipotle Mexican Bowl </h4>
        <p>This Chipotle inspired Burrito Bowl features black beans, cilantro lime rice, and fajitas with fresh homemade salsa,  lettuce and avocado for a deliciously healthy lunch, dinner or meal prep idea!
            that’s bursting with spices, flavor and is more delicious (and easier on the wallet!) than take-out!</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=xEB86CwrJCA" role="button">View »</a></p>
     </div>

    <div class="col">
        <img src="/static/images/methi.jpg" name="img" width="170" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Methi Matar Malai & Garlic Naan </h4>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact Me </a></p>
      </div>
    </div>
  </div>


{% endblock body %}